body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  min-height: 8em;
  position: relative;
}

#swipe {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#swipe:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
   }

.ui card ui centered card {
  display: inline-block;
  vertical-align: middle;
} */


body {
  height: 100vh;
  width: 100vw;
}

#root {
  position: relative;
}

/* .ui one column grid cards {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* .ui one column grid cards:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#swipe{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;

  position: relative;
  vertical-align: middle;
}

.ui.one.cards>.card {
  /* display: inline-block;
  vertical-align: middle;
  margin-top: 1.5rem; */
  width: 40em;
}

h2.ui.header .sub.header {
  color: white;
}

.heading {
  color: pink;
}

.dashcard {
  margin: 2em;
}
