body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  min-height: 8em;
  position: relative;
}

#swipe {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#swipe:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
   }

.ui card ui centered card {
  display: inline-block;
  vertical-align: middle;
} */


body {
  height: 100vh;
  width: 100vw;
}

#root {
  position: relative;
}

/* .ui one column grid cards {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* .ui one column grid cards:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#swipe{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  position: relative;
  vertical-align: middle;
}

/* This is aligning my card */
.ui.one.cards>.card {
  width: 40em;
}

h2.ui.header .sub.header {
  color: white;
}

.heading {
  color: pink;
}

.dashcard {
  margin-left: 2em;
  margin-right: 2em;
}

#likeAndDislikeButtonsLargeScreen {
  padding-left: 38%;
  padding-right: 38%;
  padding-top: -50%;
  margin-top: -1%;

  /* padding-left: 2em;
  padding-right: 2em; */
}

#likeAndDislikeButtons {
  padding-left: 34%;
  padding-right: 34%;
  padding-top: -50%;
  margin-top: -1%;

  /* padding-left: 2em;
  padding-right: 2em; */
}

#likeAndDislikeButtonsForMobile {
  padding-left: 28%;
  padding-right: 28%;
  padding-top: -50%;
  margin-top: -3%;

  /* padding-left: 2em;
  padding-right: 2em; */
}
/* .ui green massive circular icon inverted button {
  width: 40em;
  align-items: center;
} */

#login {
  margin-left: 15px;
  margin-right: 15px;
}

#signup {
  margin-left: 15px;
  margin-right: 15px;
}

#right {
  color: #00b300;
}

#left {
  color: red
}

#queue {
  font-size: 14px;
  color: 	#DB7093;
}

#getStarted {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 8px;
}

#mobileHeader {
  padding-top: 6px;
}

#mobileText {
  color: white;
}

.completeAction {
  color: #00b300;
}
